__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
build/
dist/
.DS_Store
.idea/
.vscode/
wordmaze/private_solutions/
phantom-refund/private_solutions-foundry/
phantom-refund/private_solutions-rust/
phantom-refund/check_submission_local.py
